{{>layout/header}}
<body>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				{{>layout/navbar}}
			</div>
			<div class="row">
				<!-- {{>layout/sidebar}} -->
				
				<!-- responsive equal width cols, can be sm, md, lg, or xl -->
				<form>
					<div class="col-md-12">
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="customFile">
							<label class="custom-file-label" for="customFile">Choose file</label>
						</div>
						<div id="progress-wrp">
							<div class="progress-bar"></div>
							<div class="status">0%</div>
						</div>
						<div id="msg"></div>
						<div class="pt-2">
							<a class="btn btn-primary" id="upload">Upload</a>
						</div>
					</div>
				</form>
				
			</div>
		</div>
	</div>

	<!-- /.container -->
</body>
{{>layout/footer}}
